.button{
    padding: 10px;
    background-color: hwb(180 0% 60%);
    border-radius: 10px; 
    font-size: 20px;
    width: 100%;
    border: 2px solid teal;
    color: white;
}

.button:hover{
    background-color:hwb(180 0% 65%);   
}

.button:active{
    background-color:hwb(180 0% 70%);
}
