
.container {
    max-width: 100%;
    padding: 20px;
    margin: 30px;
}

.button{
    padding: 10px;
    margin: 10px;
    border: 10px;
    background-color: teal;
    border-radius: 10px; 
    font-size: 20px;
    color: white;
    width: 100%;
}

