
.container {
    max-width: 100%;
    min-width: 550px;
    overflow-x: auto;
    margin-left: 3px;
}

.button{
    padding: 10px;
    border: 10px;
    background-color: teal;
    border-radius: 10px; 
    font-size: 20px;
    color: white;
    width: 100%;
}

